<h1><% provide(:title, 'About')%></h1>
<h1>About us</h1>
<p>
  The <a href="http://railstutorial.org/">Shopping online</a>
  where you can choose and buy many products with cheap price and best quantity
  with <a href="http://rubyonrails.org/">Shopping ShopJapan</a>.
</p>
