<h1><%provide(:title,'List products')%></h1>
    
    <table>
    <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
    <th>Category</th>
    <th>Category name</th>
    <th>Rate</th>
    <th>Count</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    <%= @products%>
    
    </table>